{% extends '::base.html.twig' %}  

{% block body %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="jobs">
				<div class="ticket">
					<div class="row">
						<div class="col-md-10 col-md-offset-1">
							<br>
							<h3><b>A quoi sert cette plateforme ?</b></h3>
							<p>Créé par le BDE Zéphyr, cette plateforme permet de transmettre nos offres d'emploi aux étudiants d'ESIEE Paris. Du babysitting aux cours particuliers, en passant par le dogsitting, tout type de job est envisageable.</p><br>
							<h3><b>Qui peut poster et postuler à un job ?</b></h3>
							<p>Seuls les personnes extérieurs à l'école peuvent poster des annonces. Par contre, seuls les élèves de ESIEE Paris peuvent postuler aux offres. Il faut pour cela disposer d'une adresse edu.esiee.fr valide lors de l'inscription.</p><br>
							<h3><b>Comment validez-vous les offres d'emplois ?</b></h3>
							<p>Toute annonce créé donnera lieu à l'envoi d'un mail au BDE ESIEE Paris, qui procèdera à la validation ou à la retouche de votre offre. Dès qu'elle sera mise en ligne, vous recevrez une notification sur votre mail d'inscription.</p><br>
							<h3><b>Je n'ai pas envie de publier mes coordonnées.</b></h3>
							<p>En aucune manière votre nom, votre email ou votre numéro de téléphone n'apparaitra publiquement. Les étudiants interessés nous envoient d'abord leurs CV via la plateforme, ensuite nous vous rappellerons directement sur votre téléphone ou email afin de vous notifier d'un candidat potentiel.</p><br>
							<h3><b>Cela veut dire que tout est géré par votre part de A à Z ?</b></h3>
							<p>Exactement. En tant que représentant des élèves, nous vous servons d'intermédiaire entre vous et les étudiants de ESIEE Paris afin que vous n'ayez pas à vous embêter avec la multitude de candidatures que vous allez recevoir.</p><br>
							<h3><b>J'ai quand même des questions</b></h3>
							<p>N'hésitez pas à nous contacter au <a href="tel:+33145926660"><b>(+33) 1 45 92 66 60</b></a> ou <a href="mailto:bde@edu.esiee.fr"><b>bde@edu.esiee.fr</b></a></p><br><br>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}